body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #0011ff;
}

.calculator {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

#display {
    width: 95%;
    height: 50px;
    font-size: 24px;
    text-align: right;
    padding: 10px;
    border: none;
    margin-bottom: 10px;
    background-color: #f0f0f0;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

button {
    padding: 20px;
    font-size: 18px;
    border: none;
    background-color: #eaeaea;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

button:hover {
    background-color: #d4d4d4;
}

button:nth-child(16) {
    background-color: #fc0000;
    color: white;
}

button:nth-child(16):hover {
    background-color: #000000;
}
